<div class="container">
  <div class="row">
    <div class="col-md-10">
    <h4>フォロワー一覧</h4>
    <% if @users.exists? %>
      <% @users.each do |user| %>
      <div class="col-lg-4 pb-2">
        <%= image_tag user.get_profile_image(200,200), class: "rounded-circle", style: "border-radius: 50%" %>
        <%= link_to user.nickname, user_path(user) %>
      </div>
      <% end %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
    </div>
  </div>
</div>