<table class="table table-hover table-inverse">
 <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nickname %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
  <tbody>
      <% @cosmeitems.each do |cosmeitem| %>
        <tr>
          <td><%= cosmeitem.cosme_name %></td>
          <td><%= cosmeitem.description %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>