<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-12 col-lg-8 px-5 px-sm-0 mx-auto">
      <div class="col-12">
         <p>検索結果</p>
        <div class="row">
          <% if @range == "会員" %>
            <% if @users.exists? %>
              <% @users.each do |user| %>
                <span class="col-3">
                  <%= image_tag user.get_profile_image(200,200), class: "rounded-circle", style: "border-radius: 50%" %><br/>
                  <%= link_to user.nickname, user_path(user) %>
                </span>
              <% end %>
            <% else %>
              <p>該当するユーザーはいません</p>
            <% end %>
          <% else %>
            <% if @cosmeitems.exists? %>
              <%= render 'public/cosme_items/index', cosmeitems: @cosmeitems %>
            <% else %>
              <p>該当する投稿はありません</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>