<h2 class="text-center p-3" style="font-size: 43px; font-family: 'Dancing Script', cursive;">ABOUT</h2>
<p class="text-center" style="font-size: 18px; font-family: 'Yusei Magic', sans-serif;">cosme cafeは美容に特化したSNSサービスです。
<br>おすすめのコスメを投稿したり、カテゴリ別で気になるコスメの投稿を検索できます。
<br>また、年代別、肌質別などで自分の探したい投稿をキーワード検索し、同じような体質の方の使用感を参考にすることができます。
<br>ぜひコスメ選びにご活用ください!</p>
<div class="text-center p-2">
<%= image_tag 'cosme.about.jpg', size: "700x350" %>
</div>