@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  background-image: url(/assets/cosme_back.jpeg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height:100vh;
  width:100%;
}

.BackGroundColor {
  background: rgba(255,255,255,0.6);
  padding:30px 0px;
  height:100%;
}