@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  background-image: url(/assets/cosme_back.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height:100vh;
  width:100%;
}

