<h4>会員一覧</h4>

<table class="table">
  <tr>
    <th>会員ID</th>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <th><%= user.id %></th>
    <th><%= user.last_name %><%= user.first_name %></th>
    <th><%= user.email %></th>
    <th></th>
  </tr>
  <% end %>
</table>