<h4>会員一覧</h4>

<table class="table">
  <tr>
    <th>会員ID</th>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.last_name %><%= user.first_name %></td>
    <td><%= user.email %></td>
    <td>
      <% if user.is_banned == false %>
        <p class="text-success">有効</p>
      <% else %>
        <p class="text-secondary">利用停止中</p>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>