<h1>マイページ</h1>

<div><%= image_tag @user.get_profile_image(100,100) %></div>

<div><%= @user.nickname %></div>



<%= link_to 'プロフィール編集', edit_user_path(@user.id), class: "btn btn-secondary" %>

<%= link_to '新規投稿',  new_cosme_item_path, class: "btn btn-secondary" %>

